@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Medium.woff') format('woff'),
    url('font/TTLakes-Medium.ttf') format('truetype'),
    url('font/TTLakes-Medium.eot') format('embeddedopentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Bold.woff') format('woff'),
    url('font/TTLakes-Bold.ttf') format('truetype'),
    url('font/TTLakes-Bold.eot') format('embeddedopentype');
    font-weight: 700;
    font-style: normal;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "TTLakes", "Arial", serif;
    font-style: normal;
}

.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    overflow: hidden;
}

.menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:  #D9FFF5;
}

.menu-block {
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-division {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 5px;
}

.menu-item {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.menu-item--burger {
    background-image: url("images/burger.png");
    background-repeat: no-repeat;
    padding: 0;
}

.menu-item--group {
    background-image: url("images/Group.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
}

.menu-item--link {
    width: 75px;
}

.menu-item--repair {
    background-image: url("images/repair.png");
    background-repeat: no-repeat;
}

.menu-item--checkstatus {
    background-image: url("images/checkstatus.png");
    background-repeat: no-repeat;
}

.menu-item--divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

.menu-item--profile {
    background-image: url("images/profile.png");
    background-repeat: no-repeat;
}

.menu-item--call {
    background-image: url("images/call.png");
    background-repeat: no-repeat;
}

.menu-item--chat {
    background-image: url("images/chat.png");
    background-repeat: no-repeat;
}

.menu-item--hidden {
    display: none;
}

.menu-item__text--hidden {
    display: none;
}

.main-info {
    background-color: #F8F8F8;
    width: 100%;
}

.title {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    padding-top: 24px;
}

.title::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.title__text {
    width: 268px;
    height: 40px;
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #1B1C21;
    line-height: 40px;
    margin: 0;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.title--hidden {
    display: none;
}

.nav {
    width: 100%;
    padding: 0;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.nav-item {
    height: auto;
    margin: 0;
    margin-left: 16px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.nav-item__text {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #7E7E82;
    padding: 5px;
    text-wrap: nowrap;
}

.nav-item--hover:hover {
    border: 2px solid #88FFEC;
    border-radius: 6px;
}

.description-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.text {
    width: 100%;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #1B1C21; 
    overflow: hidden;
    box-sizing: border-box;
}

.button {
    display: flex;
    padding-left: 16px;
    border: none;
    background-color: #F8F8F8;
    cursor: pointer;
}

.button__image {
    display:block;
    margin: 0;
    margin-right: 8px;
    padding: 0;
    border: none;
}

.button__text {
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 13px;
    box-sizing: border-box;
}

.image__content-image {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {

    .page-container {
        width: 100%;
    }

    .menu-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .menu-item--hidden {
        display: block;
    }

    .title--hidden {
        display: none;
    }

    .main-info {
        width: 100%;
        height: auto;
    }

    .nav {
        width: 100%;
        justify-content: flex-start;
        gap: 17px;
        margin-top: 40px;
    }

    .nav-item {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .nav-item:nth-child(1) {
        margin-left: 16px;
    }

    .nav-item:nth-child(4), 
    .nav-item:nth-child(6), 
    .nav-item:nth-child(7) {
        display: none;
    }

    .description-block {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .text-block {
        margin-left: 24px;
    }
    
    .text {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    .button {
        margin-top: 10px;
    }

    .image {
        margin-left: 48px;
    }

    .image img {
        width: 360px;
        border-radius: 6px;
    }
}

@media (min-width: 1120px) {
    body {
        background-color: #F8F8F8;
    }

    .page-container {
        width: 100%;
        margin: 0 auto;
    }

    .title {
        display: none;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        justify-content: space-between;
    }

    .menu::after {
        display: none;
    }

    .title--hidden {
        width: 302px;
        height: 40px;
        display: flex;
        flex-wrap: nowrap;
        margin-left: 0;
        padding-top: 24px;
    }

    .menu-item {
        text-decoration: none;
        display: flex;
        width: 180px;
        cursor: pointer;
    }

    .menu-item--hidden-for-width1120 {
        display: none;
    }

    .menu-item--visible-for-width1120 {
        display: flex;
        justify-content: flex-start;
        width: 190px;
        height: 40px;
        margin-right: 16px;
    }

    .menu-item:nth-child(8) {
        margin-left: 400px;
    }

    .menu-item__text--hidden {
        display: inline;
        text-decoration: none;
        margin-right: 8px;
        height: 40px;
        white-space: nowrap;
        padding-top: 8px;
        color: #1B1C21;
        font-family: "TTLakes", "Arial", serif;
        font-style: normal;
    }

    .menu-item--repair {
        background-image: none;
    }

    .menu-item__image--repair-width-1120 {
        background-image: url("images/repair.png");
        width: 40px;
        height: 40px;
    }

    .menu-item--checkstatus {
        background-image: none;
    }

    .menu-item__image--checkstatus-width-1120 {
        background-image: url("images/checkstatus.png");
        width: 40px;
        height: 40px;
    }

    .menu-item__image--hidden {
        display: flex;
    }

    .nav {
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
        column-gap: 25px;
        row-gap: 0;
        margin-bottom: 10px;
    }

    .nav-item {
        display: flex;
    }

    .nav-item:nth-child(4), 
    .nav-item:nth-child(6), 
    .nav-item:nth-child(7) {
        display: flex;
    }

    .nav-item:nth-child(6) {
        order: -1;
    }

    .nav-item:nth-child(2) {
        display: none;
    }

    .nav-item:nth-child(1) {
        margin-left: 0; 
    }

    .description-block {
        width: 100%;
        height: 323px;
        margin-top: 0px;
    }

    .text {
        width: 490px;
        height: 170px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        margin: 0;
    }

    .image {
        margin-left: 36px;
    }

    .image img{
        width: 531px;
        border-radius: 6px;
    }
}