@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Medium.woff') format('woff'),
    url('font/TTLakes-Medium.ttf') format('truetype'),
    url('font/TTLakes-Medium.eot') format('embeddedopentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('font/TTLakes-Bold.woff') format('woff'),
    url('font/TTLakes-Bold.ttf') format('truetype'),
    url('font/TTLakes-Bold.eot') format('embeddedopentype');
    font-weight: 700;
    font-style: normal;
}

body {
    min-height: 100vh;
    font-family: "TTLakes", "Arial", serif;
    font-style: normal;
}

ul {
    margin: 0;
}

.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    overflow: hidden;
}

.menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:  #D9FFF5;
}

.menu-block {
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
}

.menu-division {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 16px;
    padding: 16px 16px;
    list-style: none;
}

.menu-item {
    display: flex;
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.menu-item--burger {
    background-image: url("images/burger.png");
    background-repeat: no-repeat;
}

.menu-item--group {
    height: 52px;
}

.menu-item--link {
    width: 75px;
    height: 52px;
}

.menu-item--repair {
    background-image: url("images/repair.png");
    background-repeat: no-repeat;
}

.menu-item--checkstatus {
    background-image: url("images/checkstatus.png");
    background-repeat: no-repeat;
}

.menu-item--divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

.menu-item--profile {
    background-image: url("images/profile.png");
    background-repeat: no-repeat;
}

.menu-item--call {
    background-image: url("images/call.png");
    background-repeat: no-repeat;
}

.menu-item--chat {
    background-image: url("images/chat.png");
    background-repeat: no-repeat;
}

.menu-item--hidden {
    display: none;
}

.menu-item__text--hidden {
    display: none;
}

.main-info {
    background-color: #F8F8F8;
    width: 100%;
}

.title {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.title::before {
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.title__text {
    width: 268px;
    height: 40px;
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #1B1C21;
    line-height: 40px;
    margin: 0;
    margin-left: 12px;
}

.title--desktop {
    display: none;
}

.navigation-block {
    overflow-x: auto;
}

.nav {
    width: 100%;
    padding-left: 16px;
    padding-top: 24px;
    display: flex;
    gap: 16px;
    box-sizing: border-box;
}

.nav-item {
    height: auto;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.nav-item__text {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #7E7E82;
    text-wrap: nowrap;
}

.nav-item--hover:hover {
    border: 2px solid #88FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.description-block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    width: 100%;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1B1C21; 
    overflow: hidden;
    box-sizing: border-box;
}

.button {
    display: flex;
    background-color: #F8F8F8;
    cursor: pointer;
    border: none;
}

.button__image {
    background-image: url("images/expand.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.button__text {
    font-family: "TTLakes", "Arial", sans-serif;
    font-weight: 700;
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 5px;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 13px 0;
    box-sizing: border-box;
}

.image__content-image {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {

    .page-container {
        width: 100%;
    }

    .menu-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .menu-item{
        display: block;
    }

    .title--hidden {
        display: none;
    }

    .main-info {
        width: 100%;
        height: auto;
    }

    .nav {
        width: 100%;
        justify-content: flex-start;
        gap: 17px;
        padding-left: 36px;
    }

    .nav-item {
        display: flex;
    }

    .description-block {
        display: flex;
        flex-direction: row;
    }

    .text-block {
        padding-left: 24px;
    }
    
    .text {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    }

    .button {
        padding-top: 10px;
    }

    .image__content-image {
        width: 360px;
        padding: 0 13px;
        border-radius: 6px;
    }
}

@media (min-width: 1120px) {

    .page-container {
        max-width: 1120px;
        margin: 0 auto;
        background-color: #F8F8F8;
    }

    .title {
        display: none;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        justify-content: space-between;
    }

    .menu::after {
        display: none;
    }

    .title--desktop {
        width: 302px;
        height: 40px;
        display: flex;
        flex-wrap: nowrap;
    }

    .menu-item {
        text-decoration: none;
        display: flex;
        width: 180px;
        cursor: pointer;
    }

    .menu-item--hidden-for-width1120 {
        display: none;
    }

    .menu-item--visible-for-width1120 {
        display: flex;
        justify-content: flex-start;
        width: 190px;
        height: 40px;
    }

    .menu-item__text {
        display: inline;
        text-decoration: none;
        margin-right: 8px;
        height: 40px;
        white-space: nowrap;
        padding-top: 8px;
        color: #1B1C21;
        font-family: "TTLakes", "Arial", serif;
        font-style: normal;
    }

    .menu-item--repair {
        background-image: none;
    }

    .menu-item__image--repair-width-1120 {
        background-image: url("images/repair.png");
        width: 40px;
        height: 40px;
    }

    .menu-item--checkstatus {
        background-image: none;
    }

    .menu-item__image--checkstatus-width-1120 {
        background-image: url("images/checkstatus.png");
        width: 40px;
        height: 40px;
    }

    .menu-item__image--hidden {
        display: flex;
    }

    .navigation-block {
        padding: 0;
    }

    .nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        column-gap: 25px;
        row-gap: 0;
    }

    .nav-item {
        display: flex;
    }

    .text {
        width: auto;
        height: auto;
    }

    .image img{
        width: 531px;
        height: 100%;
    }
}